@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #cccccc;
  --background: #161616;
  --color-border: #292929;
}

body {
  color: var(--foreground);
  background: var(--background);
  border-color: var(--color-border);
  font-family: Arial, Helvetica, sans-serif;
}
